<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#">Project name</a>
      <%= link_to 'Sign-up', register_path, style: 'margin-left: 10px', class: 'pull-right btn btn-inverse' %>
      <div class="btn-group pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> Username
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li class="divider"></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About',   about_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'Help',    help_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>